
@import
url('https://fonts.googleapis.com/css2?family=Raleway:300,400,700,900');

@font-face {
    font-family: Losta;
    src: url(LostaMasta-Bold.otf);
}

@font-face {
    font-family: Grifter;
    src: url(grifterbold.otf);
}
/* header
=================== */

* {
    padding: 0;
    margin: 0;
}
header{
    position: absolute;
    right:0;
    left:0;
    
}


nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: center;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a{
    font-family: 'Grifter', sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 0.5em;
    color: #FFF;
    float: center;
}

nav a:hover,
nav a:focus{
    color:darkgrey;
}
.unstyled-list a{
    font-family: 'Losta', sans-serif;
    text-decoration: none;
    color: #FFF;
}
.unstyled-list a:hover,
.unstyled-list a:focus{
    color:#A9A9A9;
}
.iconsdiv {
    align-items: right;
}
.iconsdiv a {
    margin: 4px;
}
.navbar {
    display: flex;
    padding-left: 0rem; 
    align-items: center;
    height: 5rem;
}
nav {
    flex: 1;
    text-align: right;
    
}
nav ul {
    display: inline-block;
    list-style-type: none;
    
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}
a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    text-transform: uppercase;
}
.container1 {
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (max-width:500px) {
    .button-accent{
        font-family: 'Grifter', sans-serif;
        color: #fff;;
        border-color: #7EBC89;
        background: #7EBC89;
    }

    
}
@media (min-width:500px){
    .logo{
        float:left;
        max-width: 10rem;
    }

    .nav{
        float:right;
        
    }

    nav ul {
        float: right;
    }

}

.container1{
    background-color: #7EBC89;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
}


/*cart items
=================== */

.cart-page{
    margin: 80px auto;
    display: inline-block;
    padding-top: 5rem;
    width: 100%;
}

table{
    width: 50%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #FFF;
    background: #7EBC89;
    font-weight: normal;

}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color:#7EBC89;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}