
@import
url('https://fonts.googleapis.com/css2?family=Raleway:300,400,700,900');

@font-face {
    font-family: Losta;
    src: url(LostaMasta-Bold.otf);
}

@font-face {
    font-family: Grifter;
    src: url(grifterbold.otf);
}
/* header
=================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    position: absolute;
    right:0;
    left:0;
    
}


nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: center;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a{
    font-family: 'Grifter', sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 0.5em;
    color: #FFF;
    float: center;
}

nav a:hover,
nav a:focus{
    color:darkgrey;
}
.unstyled-list a{
    font-family: 'Losta', sans-serif;
    text-decoration: none;
    color: #FFF;
}
.unstyled-list a:hover,
.unstyled-list a:focus{
    color:#A9A9A9;
}
.iconsdiv {
    align-items: right;
}
.iconsdiv a {
    margin: 4px;
}
.navbar {
    display: flex;
    padding-left: 0rem; 
    align-items: center;
    height: 5rem;
}
nav {
    flex: 1;
    text-align: right;
    
}
nav ul {
    display: inline-block;
    list-style-type: none;
    
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}
a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    text-transform: uppercase;
}
.container1 {
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (max-width:500px) {
    .button-accent{
        font-family: 'Grifter', sans-serif;
        color: #fff;;
        border-color: #7EBC89;
        background: #7EBC89;
    }

    
}
@media (min-width:500px){
    .logo{
        float:left;
        max-width: 10rem;
    }

    .nav{
        float:right;
        
    }

    nav ul {
        float: right;
    }

}

.container1{
    background-color: #243e36;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
}

.navbar{
    margin-bottom: 10rem;
}


/*button
=================== */

.button{
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 4px;
    border-style: solid;
    padding: .75em 1.75em;
    letter-spacing: 1px;
    
}
@media (min-width:60rem) {
    .button{
        font-size: 1.5rem;
    }
}


.button-small{
    font-size: .7rem;
    font-weight: 700;
}

.button-accent{
    font-family: 'Grifter', sans-serif;
    background: #243e36;
    border-color: #243e36;
    color: black;
}

.button-accent:hover,
.button-accent:focus{
    background: #7EBC89;
    border-color: #7EBC89
}

.button-light{
    font-family: 'Grifter', sans-serif;
    color:#FFF;
    border-color: #FFF;
    
    
}

.button-light:hover,
.button-light:focus{
    background: #FFF;
    color: #7EBC89;
}

/*cart items
=================== */

.cart-title{
    padding-top: 8rem;
    text-align: center;
    font-size: 50px;
    font-family: 'Grifter',sans-serif;
}

.cart-items{
    padding-top: 2rem;
    width:90%;
    margin:auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Grifter',sans-serif;
    border-bottom: 1px solid #243e36;
}

td{
    width: 20%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-family:'Grifter',sans-serif;
    color: #243e36;
    border-bottom: 1px solid #243e36;
}
input{
    font-family: 'Grifter',sans-serif;
    text-align: center;
    width:35px;
    outline:none;
    border: 2px solid #243e36;
}

table img{
    max-width: 125px;
    max-height: 125px;

}
/* column system
=================== */
.unstyled-list{
    margin: 0;
    padding: 0;
    list-style-type:none;
}

.container{
    width:100%;
    margin: 0 auto;
    max-width: 70em;
}

.clearfix::after,
section::after,
footer::after{
    content: '';
    display:block;
    clear:both;
}

[class^=col-]{
    width: 100%;
    margin-top: 1em;
}

[class^=col-]:first-child{
    margin-top: 0;
}

.col-1{
    width: 33.333334%;
    float: left;
}

@media (min-width:40rem){
    [class^=col-]{
    float: left;
    padding: 0 .5em;
    margin-top: 0;
    }

    [class^=col-]:first-child{
        padding-left: 0;
    }
    
    [class^=col-]:last-child{
        padding-right: 0;
    }

    .col-3{
        width:50%;
    }

    .col-1{
        width:16.6666%;
    }   
}
/* footer
=======================*/
footer{
    background: #243e36;
    color: #FFF;
    text-align: left;
    padding: 6em 0;
}

.col-3 p {
    font-family: Grifter;
    font-size: 1em;
}