@font-face{
    font-family: Losta;
    src: url(LostaMasta-Bold.otf);
}

@font-face {
    font-family: Grifter;
    src: url(grifterbold.otf);
}

*{
    box-sizing: border-box;
}
body{
    background: #ebbe9b;
    font-family: 'Grifter', sans-serif;
}

.logo {
    max-width: 7rem;
    float: center;
}

.nav {
    float: center;
    padding: .5em;
}
.container{
    width:80%;
    margin: 50px auto;
}

.contact-box{
    background:#fff;
    display:flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #784f41;
    color:#fff;
}

h1{
    margin-bottom: 10px;
}

.container p{
    margin-bottom: 40px;
}

.input-row{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width:100%;
    border: none;
    border-bottom: 1px solid #784f41;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width:100%;
    border: 1px solid #784f41;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    dipslay: block;
    color: #784f41;
}

button{
    background:#784f41;
    width:100px;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    border:none;
    outline:none;
    color:#fff;
    box-shadow: 0px 5px 15px 0px rgba(120,79,65,0.3);
}

.contact-left h3{
    color:#784f41;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}