@font-face{
    font-family: Losta;
    src: url(LostaMasta-Bold.otf);
}

@font-face {
    font-family: Grifter;
    src: url(grifterbold.otf);
}

*{
    box-sizing: border-box;
    background: #EBBE9B;
}

.container{
    width:80%;
    margin: 50px auto;
}