
@import 
url('https://fonts.googleapis.com/css2?family=Raleway:300,400,700,900');

@font-face {
    font-family: Losta;
    src: url(LostaMasta-Bold.otf);
}

@font-face {
    font-family: Grifter;
    src: url(grifterbold.otf);
}

*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Losta', sans-serif;
    text-align: center;
}

img{
    max-width: 100%;
    height:auto;
}

.container{
    width:95%;
    margin: 0 auto;
}

/* typography
=================== */

.title{
font-size: 2rem;
margin-bottom: 1.5em;
}

.title-span{
    font-weight: 300;
    display:block;
    font-size:.9em;

}

@media (min-width:60rem){
    .title{
        font-size: 3.7rem;
    }
}

/* buttons */

.button{
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 4px;
    border-style: solid;
    padding: .75em 1.75em;
    letter-spacing: 1px;
    
}

.button-accent{
    font-family: 'Grifter', sans-serif;
    color:#7EBC89;
    border-color: #7EBC89;
    
    
}

.button-accent:hover,
.button-accent:focus{
    background: #7EBC89;
    color: #784f41;
}

@media (min-width:60rem) {
    .button{
        font-size: 1.5rem;
    }
}

/* header
=================== */

header{
    position: absolute;
    right:0;
    left:0;
    margin: 1em;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: center;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a{
    font-family: 'Grifter', sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 0.5em;
    color: #FFF;
    float: center;
}

nav a:hover,
nav a:focus{
    color:darkgrey;
}

.logo {
    max-width: 7rem;
    float: center;
}

.nav {
    float: center;
    padding: .5em;
}
@media (max-width:500px) {
    .button-accent{
        font-family: 'Grifter', sans-serif;
        color:#784f41;
        border-color: #7EBC89;
        background: #7EBC89;
    }

    
}
@media (min-width:500px){
    .logo{
        float:left;
        max-width: 10rem;
    }

    .nav{
        float:right;
        
    }

    nav ul {
        float: right;
    }

}

/* home-hero
=================== */

.home-hero{
    background-image: url(../img/top-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color:#FFF;
}

@media(min-width:60rem){
    .home-hero{
        height: 100vh;
        padding-top:35vh;
    }


}