
@import 
url('https://fonts.googleapis.com/css2?family=Raleway:300,400,700,900');

@font-face {
    font-family: Losta;
    src: url(LostaMasta-Bold.otf);
}

@font-face {
    font-family: Grifter;
    src: url(grifterbold.otf);
}

*{
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}
body{
    margin:0;
    font-family: 'Losta', sans-serif;
    text-align: center;
}

img{
    max-width: 100%;
    height:auto;
    object-fit: cover;
}

.container{
    width:95%;
    margin: 0 auto;
    max-width: 70em;
}

.clearfix::after,
section::after{
    content: '';
    display:block;
    clear:both;
}
/* typography
=================== */

h1{
    font-weight: 300;
    font-size: 1.4rem;
    margin-top: 0;
}

p{
    margin-top:0;
    line-height: 1.5;
}

p:last-of-type{
    margin-bottom: 0;
}

.title{
font-size: 2rem;
margin-bottom: 1.5em;
font-weight: 900;
margin-top: 1em;
}

.title-span{
    font-weight: 300;
    display:block;
    font-size:.9em;

}

@media (min-width:60rem){
    .title{
        font-size: 3.7rem;
    }
}

/* buttons */

.button{
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 4px;
    border-style: solid;
    padding: .75em 1.75em;
    letter-spacing: 1px;
    
}
@media (min-width:60rem) {
    .button{
        font-size: 1.5rem;
    }
}


.button-small{
    font-size: .7rem;
    font-weight: 700;
}

.button-accent{
    font-family: 'Grifter', sans-serif;
    color:#7EBC89;
    border-color: #7EBC89;
    
    
}

.button-accent:hover,
.button-accent:focus{
    background: #7EBC89;
    color: #fff;
}

/* header
=================== */

header{
    position: absolute;
    right:0;
    left:0;
    margin: 1em;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: center;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a{
    font-family: 'Grifter', sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 0.5em;
    color: #FFF;
    float: center;
}

nav a:hover,
nav a:focus{
    color:darkgrey;
}

.logo {
    max-width: 7rem;
    float: center;
}

.nav {
    float: center;
    padding: .5em;
}
@media (max-width:500px) {
    .button-accent{
        font-family: 'Grifter', sans-serif;
        color: #fff;;
        border-color: #7EBC89;
        background: #7EBC89;
    }

    
}
@media (min-width:500px){
    .logo{
        float:left;
        max-width: 10rem;
    }

    .nav{
        float:right;
        
    }

    nav ul {
        float: right;
    }

}

/* home-hero
=================== */

.home-hero{
    background-image: url(../img/top-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    padding-bottom: 0;
    color:#FFF;
}

@media(min-width:60rem){
    .home-hero{
        height: 100vh;
        padding-top:20vh;
        
    }


}

/* home-about
============== */

.home-about-textbox{
    background-color: #243e36;
    padding: 3em;
    width: 100vw;
    margin-left:-2.5%;
    outline: 2px solid #7EBC89;
    outline-offset: -2.5em;
    color: #FFF;
    position: relative;
}

.home-about-textbox h1{
    color:#7EBC89;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: .75em;
    background: #243e36;
    padding: 0 .145em;
}

@media (min-width:25rem){
    h1{
        font-size: 2rem;
    }
    .home-about-textbox h1{
        top: .6em;
        padding: 0 .325em;
        transform:translateX(0);

    }
}
@media (min-width:60rem){
   
   p{
       font-size: 1.2rem;
       line-height: 1.6; 
   }

    h1{
        font-size: 2.5rem;
    }

    .home-about{
        background-image: url(../img/aboutme-01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom:10em;
        object-fit: scale-down;
    }
    .home-about-textbox{
        width: 50%;
        padding:7em;
        outline-offset: -3.75em;
        margin-left:-2.5%;
        top: -5em;
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0,0,0,.3)
    }

    .home-about-textbox p {
        font-family: 'Grifter', sans-serif;
        letter-spacing: .8px;

    }
    
    .home-about-textbox h1{
        top: .75em;
        left: 6rem;
        transform:translateX(0);
    }
}



/* portfolio
=======================*/


.portfolio{
    margin: 3em 0 0;
}

.port-item{
    margin:0;
    position: relative;
}

.port-item img{
    display: block;
}

.port-desc{
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    color:white;
    background:rgba(0,0,0,.6);
    padding-bottom: 2em;
}

.port-desc p{
    margin: 1em;
}

@media (min-width:37rem) {
    .port-item{
        width: 50%;
        float: left;
    }
}

@media (min-width:60rem) {
    .port-item{
        width: 33.3333334%;
        overflow: hidden;
    }
    .port-desc{
        transform:translateY(150%);

    }
    .port-item:hover .port-desc{
        transform:translateY(0%);

    }
}

/* CTA
=======================*/

.cta{
    background-color: #7EBC89;
    padding: 3em 0;
    
}