@import url("https://use.typekit.net/lib5vqm.css");

@font-face {
    font-family: Losta;
    src: url(LostaMasta-Bold.otf);
}

@font-face {
    font-family: Grifter;
    src: url(grifterbold.otf);
}


* {
    margin: 0;
    padding: 0;
    background-color: green;

}

body {
    font-family: 'Grifter', sans-serif;
    font-weight: 700;
}
.navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    height: 5rem;
}
nav {
    flex: 1;
    text-align: right;
    
}
nav ul {
    display: inline-block;
    list-style-type: none;
    
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}
a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    text-transform: uppercase;
}
.container {
    max-width: 1300px;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
.iconsdiv {
    align-items: right;
    margin-right: -6.75rem;
    padding-left: 1rem;
}
.iconsdiv a {
    margin: 4px;
}